@import "variables";

.drop-box {
  flex: 1;
  min-height: 200px;
  .flexCenterAlignment;
  margin: @smallScreenSideIndent;
  border: 2px dashed @darkGray;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &_error {
    border-color: @errorBorder;
  }
  &_drag-over {
    background: @green50;
  }
  &__input {
    position: absolute;
    opacity: 0;
    top: -100%;
    left: -100%;
  }
  &__input:focus + .button {
    &::before {
      .buttonFocusBefore;
    }
  }
  &__overlay {
    .fillContainer(0);
    z-index: 1;
    overflow: hidden;
    .flexCenterAlignment;
    font-size: 40px;
    text-shadow: 1px 1px #fff;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 200%;
      z-index: -1;
      background-color: @bgColor;
      // simple loading animation
      background-image: repeating-linear-gradient(
        45deg,
        @green200,
        @green200 35px,
        @green50 35px,
        @green50 70px
      );
      animation: backgroundMove 20s linear infinite;
    }
  }
  &__description {
    margin: 20px;
  }
}

@media screen and (min-width: @wideSize) {
  .drop-box {
    margin: 20px @wideScreenSideIndent;
  }
}

@keyframes backgroundMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
