.drop-box {
  flex: 1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
  border: 2px dashed #263238;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.drop-box_error {
  border-color: #EF5350;
}
.drop-box__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 1px 1px #fff;
}
.drop-box__overlay:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200%;
  z-index: -1;
  background-color: #f5f5f5;
  background-image: repeating-linear-gradient(45deg, #A5D6A7, #A5D6A7 35px, #E8F5E9 35px, #E8F5E9 70px);
  animation: backgroundMove 20s linear infinite;
}
@keyframes backgroundMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
