@import "variables";

.app-header {
  padding: @smallScreenSideIndent;
  color: #fff;
  .blue-violet-grad();
  text-shadow: 1px 1px rgba(0, 0,0,.5);
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.app-logo {
  margin: 0;
  font: 400 40px/1 @logoFont;
}

.app-description {
  margin: 0;
  font-size: 18px;
}

@media screen and (min-width: @wideSize) {
  .app-header {
    padding: @wideScreenSideIndent;
  }
  .app-logo {
    font-size: 60px;
  }
}